@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

ion-content {
  --background: url(/assets/kindcrittersbg.png) 0 0/100% 100% no-repeat !important;
}

.main-card {
  border-radius: 15px;
}
.creatureTitle {
  font-family: 'Roboto', sans-serif;
  color: #465362;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.creatureFeeling {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #82a3a1;
}

.taskscomp {
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.02em;

  padding: 10px;

  display: flex;
  flex-direction: column;
}

.tasksnotcomp {
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.02em;

  padding: 10px;

  display: flex;
  flex-direction: column;
}

.cards-container{
  margin-top: -40px;
}

.creature-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35vh;
}

.viewport{
  position: relative;
}