<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Creature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="viewport">
  <!-- DEBUG BUTTON BELOW -->
  <!-- <ion-button (click)="UF()">Refresh</ion-button> -->
  <ion-card class="main-card">
    <ion-card-header>
      <ion-card-title class="creatureTitle">Ghost</ion-card-title>
      <!-- TODO: Change feeling based on the scale -->
      <ion-card-subtitle *ngIf="mood === 0" class="creatureFeeling">
        ...is currently Sad!
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="mood <= 0.5 && completedReminderList.length/totalReminders.length > 0" class="creatureFeeling">
        ...is currently Okay!
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="mood <= 1 && completedReminderList.length/totalReminders.length > 0.5" class="creatureFeeling">
        ...is currently Happy!
      </ion-card-subtitle>
      <!-- SLIDER FOR EMOTIONS, SHOULD NOT BE ABLE TO BE CLICKED ON -->
      <ion-range value="{{mood}}" min="0" max="1" color="secondary"
        disabled='true'>
        <ion-icon slot="start" name="sad-outline"></ion-icon>
        <ion-icon slot="end" name="happy-outline"></ion-icon>
      </ion-range>
    </ion-card-header>
    <div class="cards-container">
      <ion-row class="ion-justify-content-evenly">
        <ion-col size="6">
          <ion-card class="taskscomp"> <b>{{completedReminderList.length}}</b> tasks completed today</ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="tasksnotcomp"><b>{{uncompleteReminderList.length}}</b> tasks not completed today</ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
  <ion-grid class="creature-container">
    <ion-row class="ion-justify-content-center creature">
      <ion-col size="6">
        <ion-img class="emote-image" src="/assets/emote-gif.gif" width="10px"></ion-img>
        <ion-img src="/assets/ghostgif.gif"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
