ion-content {
  --background: url(/assets/kindcrittersbg.png) 0% 0% / cover no-repeat fixed !important;
  object-fit: cover

}
.login-content {
  background-color: transparent;
  color: white;
}

ion-item {
  color: white;
}

.switch-color {
  color: white;
}
