ion-content {
  --background: url(/assets/kindcrittersbg.png) 0 100% no-repeat !important;
  background: #3679aa;
}

.login-content {
  background-color: transparent;
  color: white;
}

ion-item {
  color: white;
}

.switch-color {
  color: white;
}
