ion-content {
  --background: url(/assets/kindcrittersbg.png) 0 -130% no-repeat !important;
  background: #56742c;
}

ion-title{
  color: rgb(73, 74, 72);
}

ion-segment{
  position: -webkit-sticky; /* Safari */
  position: sticky;
background-color: rgb(234, 230, 224);
}
ion-segment-button{
  font-weight: bold;
}

.creature {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards{
  overflow-y: scroll;
  height: 50vh;
}

.creature-container {
  position: sticky;
  bottom: 0;
  width: 40%;
}

.emote-image {
  margin-bottom: 10px;
  width: 40px !important;
}
.card-container {
  width: 100%;
}
.content-container {
  display: flex;
}

.list-header {
  color: rgb(241, 243, 236);
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.bed-icon {
  color: rgb(73, 74, 72);
  align-self: center;
}

.title-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
  .title {
    font-weight: bold;
    color: rgb(73, 74, 72);
  }

  .desc {
    font-size: 10px;
    color: rgb(73, 74, 72);
  }
}

.date-container {
  display: flex;

  .time {
    align-self: center;
    margin-right: 5px;
    color: rgb(73, 74, 72);
  }

  .date {
    align-self: center;
    font-size: 13px;
    color: rgb(73, 74, 72);
  }
}

.add-button {
  position: fixed;
  bottom: 20;
  right: 0;
}

.completed-title-desc {
  text-decoration: line-through;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
  .title {
    font-weight: bold;
  }

  .desc {
    font-size: 10px;
  }
}

.completed {
  opacity: 70%;
}
