<ion-header>
  <ion-toolbar>
    <ion-title>addReminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="remcard">
    <ion-card-header>
      <ion-card-title class="remtitle">New Reminder </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">Reminder Name</ion-label>
      <ion-input clearInput value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Details</ion-label>
      <ion-input clearInput value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date & Time</ion-label>
      <ion-input clearInput value=""></ion-input>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-tab-button tab="add-reminder">
          <ion-icon class="add-circle" name="add-circle"></ion-icon>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
