<ion-header>
  <ion-toolbar>
    <ion-title>Edit Reminder</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="remcard">

    <ion-card-header>
      <ion-card-title class="ion-align-self-center" class="remtitle">Reminder </ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Reminder Name</ion-label>
      <ion-textarea [(ngModel)]="itemName" placeholder="write reminder here"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Details</ion-label>
      <ion-textarea [(ngModel)]="itemDetails" placeholder="write reminder details here"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="itemPriority">
        <ion-select-option value="low">Low</ion-select-option>
        <ion-select-option value="middle">Middle</ion-select-option>
        <ion-select-option value="high" selected>High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-datetime [(ngModel)]="itemDueDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label> Category</ion-label>
      <span>{{categorySelectedCategory}}</span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let tag of categories; let i = index" color="secondary" outline="true"
        (click)="selectCategory(i)">
        <ion-label color="secondary">{{tag}}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="update()">Update Task</ion-button>

  </ion-card>
</ion-content>
