ion-content {
    --background: url(/assets/kindcrittersbg.png) 0 100% no-repeat !important;
    background: #3679aa;
  }

  .creature-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
  }
  
  .viewport{
    position: relative;
  }
  
  .emote-image{
    transform: rotate(-45deg);
    width: 40px !important;
  }