ion-content {
  --background: url(/assets/kindcrittersbg.png) 0% 0% / cover no-repeat fixed !important;
  object-fit: cover

}

  .creature-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
  }
  
  .viewport{
    position: relative;
  }
  
  .emote-image{
    transform: rotate(-45deg);
    width: 40px !important;
  }